@media(max-width: 1024px){
    .abt-hero-sec-text p{
        width: 100%;
    }

    .abt-hero-sec-text-btn:link,
    .abt-hero-sec-text-btn:visited{
        margin-left: 55.8rem;
    }

    .abt-snd-sec-text-flex{
        flex-direction: column;
    }

    .abt-snd-sec-text-flex-img{
        margin: 0;
        width: 50%;
    }

}

@media(max-width: 768px){
    .abt-snd-sec-card{
        grid-template-columns: 1fr;
    }

    .off-col{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        width: 90%;
        margin-top: 3.2rem;
    }

    .abt-snd-sec-text-flex-txt{
        width: 62rem;
    }

    .off-card{
        padding: 3.2rem;
    }

    .abt-thr-sec-text p{
        width: 100%;
    }

    .footer-cnt p {
        font-size: 1.2rem !important;
    }

     }


@media(max-width: 426px){
    html{
        font-size: 38% !important;
    }
   
    .abt-hero-sec-text-btn:link, .abt-hero-sec-text-btn:visited{
        margin-left: 47.8rem;
    }

    .abt-snd-sec-text-flex{
        width: 90%;
    }

    .abt-snd-sec-text-flex-txt{
        width: 58rem;
    }

    .off-card span{
        font-size: 4.4rem;
    }

    .off-card h4{
        font-size: 3.2rem;
    }

    .off-col{
        grid-template-columns: 1fr;
    }

    .footer-p{
        font-size: 1.8rem !important;
       }

       .abt-hero-sec-text p,
       .abt-snd-sec-text-flex-txt p,
       .abt-thr-sec-text p,
       .card-txt p{
        font-size: 1.6rem;
       }

}

@media(max-width: 376px){
    .abt-hero-sec-text-btn:link, .abt-hero-sec-text-btn:visited{
        margin-left: 29.8rem;
    }

    .abt-snd-sec-text-flex-txt{
        width: 45rem;
    }

    .off-card span{
        font-size: 3.2rem;
    }

    .footer-p{
        font-size: 1.8rem !important;
    }

    .footer-cnt p{
        font-size: 1.4rem !important;
    }
}

@media(max-width: 321px){

    .abt-hero-sec-text-h2{
        font-size: 3.2rem;
    }

    .abt-hero-sec-text p{
        font-size: 1.6rem;
    }

    .abt-hero-sec-text-btn:link, .abt-hero-sec-text-btn:visited{
        margin-left: 23.8rem;
    }

    .abt-snd-sec-text-flex-txt h3{
        font-size: 1.8rem;
    }

    .abt-snd-sec-text-flex-txt p{
        font-size: 1.6rem;
    }

    .abt-snd-sec-text-flex-txt{
        width: 38rem;
    }

    .abt-snd-sec-card-con h3{
        font-size: 2.4rem;
    }

    .card-txt h4{
        font-size: 1.8rem;
    }

    .card-txt p{
        font-size: 1.6rem;
    }

    .abt-thr-sec-text h2{
        font-size: 2.4rem;
    }

    .abt-thr-sec-text p{
        font-size: 1.6rem;
    }

    .off-card span{
        font-size: 2rem;
    }

    .footer-p{
        font-size: 1.4rem !important;
    }

    .footer-cnt p{
        font-size: 1.2rem !important;
    }
}