/*colors for the websit theme*/
/* color:
#f03c1d 
#003e75
*/
/*colors for the websit theme*/

/*codes for the about page hero section*/

.abt-hero-sec{
    background-image: linear-gradient(rgba(0, 62, 117, 0.745), rgba(0, 62, 117, 0.652)),
    url(../img/about_us.jpg);
    background-size: cover;
    background-position: center;
    border-bottom-right-radius: 1.8rem;
    border-bottom-left-radius: 1.8rem;
    padding-bottom: 9.8rem;
}

.abt-hero-sec-text{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4.4rem;
}

.abt-hero-sec-text-h2{
    color: #fff;
    font-weight: 700;
    font-size: 4.4rem;
}

.abt-hero-sec-text p{
    font-size: 1.8rem;
    color: #ffffffdb;
    width: 80%;
    margin-bottom: 4.8rem;
}

.abt-hero-sec-text-btn:link,
.abt-hero-sec-text-btn:visited{
    border: 2px solid #f03c1d;
    color: #fff;
    background: #f03c1d;
    width: fit-content;
    margin-left: 105.8rem;
    transition: 0.5s;
}

.abt-hero-sec-text-btn:hover,
.abt-hero-sec-text-btn:active{
    background: transparent;
    color: #f03c1d;
}

.abt-snd-sec-text-flex{
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 1.6rem;
    margin-top: 3.8rem;
}

.abt-snd-sec-text-flex-img{
    width: 188rem;
}

.abt-snd-sec-text-flex-img img{
    width: 100%;
    border-top-right-radius: 3.2rem;
    border-bottom-left-radius: 3.2rem;
    border-bottom-right-radius: 3.2rem;
}

/*codes for the about page hero section*/