@media(max-width: 2560px){
    .vs-hero-sec-btn{
        position: relative;
        left: 89%;
        margin-bottom: 3.2rem;
    }
}

@media(max-width: 1440px){
    .vs-hero-sec-btn{
        left: 89%;
    }
    
}

@media(max-width: 1024px){
    .footer-p{
        width: 52% !important;
    }

    .vs-hero-sec-btn{
        left: 85%;
    }

}

@media(max-width: 768px){
    
    .vs-hero-sec-text-p{
        width: 90%;
    }

    .footer-p{
        width: 68% !important;
    }

    .vs-hero-sec-btn{
        left: 80%;
    }

}

@media(max-width: 426px){
    html{
        font-size: 38% !important;
    }

    .vs-hero-sec-btn {
        left: 76%;
    }

    .footer-p{
        font-size: 2.4rem !important;
    }

    .vs-hero-sec-text-p{
        font-size: 1.6rem;
    }
}

@media(max-width: 376px){
   
    .vs-hero-sec-btn{
        left: 70%;
    }

    .footer-p{
        font-size: 1.8rem !important;
        width: 72% !important;
    }

    .vs-hero-sec-text-h2{
        font-size: 3.2rem;
    }
    
}

@media(max-width: 321px){
    html{
        font-size: 24% !important;
    }

    .vs-hero-sec-btn{
        left: 64%;
    }

    .vs-hero-sec-text-h2{
        font-size: 2.4rem;
    }

    .vs-hero-sec-text-p{
        font-size: 1.6rem;
    }

    .btn{
        font-size: 1rem !important;
    }

    .footer-p{
        font-size: 1.4rem !important;
    }

    .footer-cnt p{
        font-size: 1.2rem !important;
    }
}